<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>Get your saturnflyer-test subscription</title>
	    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	</head>

	<body>
	  <div id="wrap">
  		<div id="page">
  		  <div class="flash"><%= flash[:notice]%></div>
  		  <%= yield %>

  		</div>

		</div>
			<div id="footer">
			  <p>Footer</p>
		</div>

	</body>
</html>
